{% extends "base.html.twig" %} 

{% block content %}
    <p>{{routes.path}}</p>
    <p>{{routes.template}}</p>
    <p>{{routes.controller}}</p>
    <p>{{data.title}}</p>
    <p>{{data.message}}</p>
{% endblock %} 
