{% extends "base.html.twig" %} 

{% block content %}
    <p>{{routes.path}}</p>
    <p>{{routes.template}}</p>
    <p>{{routes.controller}}</p>
    <p>{{data.title}}</p>
    <p>{{data.message}}</p>
    <p>
        {% for item in routes.routes %}
            {% for key, route in item %}
                {{ dump(key) }} - {{ dump(route) }}
                <br>
            {% endfor %}
            <br>
        {% endfor %}
    </p>
{% endblock %} 
